<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="module" src="js/index.js" ></script>
  <title>Document</title>
</head>
<body>
  <nav class="nav">
    <ul class="nav__ul">
      <li class="nav__li"><a href="#">Home</a></li>
      <li class="nav__li><a href="#">About</a></li>
      <li class="nav__li><a href="#">Contact</a></li>
    </ul>
  </nav>

  <header class="header__wrapper">
    <h1>Header</h1>
    <h2>Subtitle</h2>
  </header>

  <div class="hero container">
    <figure class="card hero">
      <img class="hero" src="../src/img/map.jpg" alt="">
      <figcaption>
        <h3>Image 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos.</p>
      </figcaption>
    </figure>
  </div>

  <div class="cards container flex">
    <figure class="card__item">
      <img src="../src/img/img__logo.svg" alt="">
      <figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, doloremque, ea, eius, eos, eveniet, ipsa, ipsum, laudantium, molestias, natus, nisi, nisi, officia, quae, quam, quas, quisquam, quos, reiciendis, repellendus, saepe, sunt, tempora, vel, voluptas, voluptatem.</figcaption>
    </figure>

        <figure class="card__item">
      <img src="../src/img/logo__img.svg" alt="">
      <figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, doloremque, ea, eius, eos, eveniet, ipsa, ipsum, laudantium, molestias, natus, nisi, nisi, officia, quae, quam, quas, quisquam, quos, reiciendis, repellendus, saepe, sunt, tempora, vel, voluptas, voluptatem.</figcaption>
    </figure>

  </div>

</body>
</html>
